{% extends "base.html.j2" %}

{% block css%}
{{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="{{ static('css/schedule.css')}}" rel="stylesheet">
{% endblock %}

      {% block content %}
<table>
  <thead>
    <tr>
      <th></th>
      {% for day in week %}
      <th>
        <span class="day">{{ day.isoformat() }}</span>
        <span class="long">{{ loop.cycle("Monday", "Tuesday", "Wendsday", "Thursday", "Friday") }}</span>
        <span class="short">{{ loop.cycle("Mon", "Tue", "Wen", "Thu", "Fri") }}</span>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      {% for hour in range(8,16) %}
    <tr>
      <td class="hour" rowspan="2"><span>{{hour}}:00</span></td>
      {% for day in week %}
      <td {% if today < day or (today==day and now.hour < hour)%}
          class="frame" data-toggle="modal" data-target="#myModal"
      {%else%}
          class="past"
      {%endif%}
          data-hour={{hour}} 
          data-minutes="00"
          data-day={{day}}></td>
      {% endfor %}
    </tr>
    <tr>
      {% for day in week %}
      <td {% if today < day or (today==day and now.hour < hour)%}
          class="frame" data-toggle="modal" data-target="#myModal"
      {%else%}
          class="past"
      {%endif%} 
          data-hour={{hour}} 
          data-minutes="30"
          data-day={{day}}></td>
      {% endfor %}
    </tr>
      {% endfor%}
  </tbody>
</table>

      {% endblock content %}

{% block javascript %}
{{ super() }}
<script src="{{ static('js/schedule.js')}}"></script>
<script type="text/javascript">
jQuery(document).ready(function($){

{% for appt in appointments %}
    book_frame('{{appt|safe}}');
{% endfor %}

});
</script>
{% endblock %}

{% include 'modal.html.j2' %}
